In [ ]:
Introduction to list datatype

In [ ]:
definition : A list is a collection of items declared in a particular order
    
classification : it is classified as a mutable datatype
    
how to declare the list datatype ? 

using [] brackets

In [4]:
students =['bini', 'bindu', 'bibin','priya','arun','aravind','rahul'] #0,1,2,3,4,5,6

print(students)

['bini', 'bindu', 'bibin', 'priya', 'arun', 'aravind', 'rahul']

In [3]:
type(students)

list

In [ ]:
# how to access the above elements from the list?

In [ ]:
introduction to indexing :0,1,2,3,4

In [ ]:
# req : i want to access bibin name from the above list?

In [5]:
print(students[2])

bibin

In [ ]:
# req : i want to access aravind name from the above list?

In [6]:
print(students[5])

aravind

In [8]:
print(students[5].title())

Aravind

In [ ]:
1. how to add new elements to the list

2. how to modify the elements in the list

3. how to delete the elements in the list

In [9]:
print(students)

['bini', 'bindu', 'bibin', 'priya', 'arun', 'aravind', 'rahul']

In [ ]:
# req : i want to add 'sachin' name to the above list

In [10]:
students.append('sachin')

In [11]:
print(students)

['bini', 'bindu', 'bibin', 'priya', 'arun', 'aravind', 'rahul', 'sachin']

In [ ]:
# req : i want to add 'lavanya' name to the above list

In [12]:
students.append('lavanya')

In [13]:
print(students)

['bini', 'bindu', 'bibin', 'priya', 'arun', 'aravind', 'rahul', 'sachin', 'lavanya']

In [ ]:
# req : i want to add 'charan' name to the 2nd index

In [15]:
students.insert(2,'charan')

In [16]:
print(students)

['bini', 'bindu', 'charan', 'bibin', 'priya', 'arun', 'aravind', 'rahul', 'sachin', 'lavanya']

In [17]:
print(students[2])

charan

In [ ]:
interview question : what is the difference between 'append' and 'insert' method in a list

In [ ]:
# how to modify the elements in the list

In [18]:
print(students)

['bini', 'bindu', 'charan', 'bibin', 'priya', 'arun', 'aravind', 'rahul', 'sachin', 'lavanya']

In [ ]:
# req : i want to modify 'charan' name to 'chaithanya'

In [27]:
students[2] ='chaithanya'

In [28]:
print(students)

['bini', 'bindu', 'chaithanya', 'bibin', 'priya', 'aravind', 'rahul', 'sachin', 'lavanya']

In [ ]:
# how to delete the elements in the list

In [29]:
print(students)

['bini', 'bindu', 'chaithanya', 'bibin', 'priya', 'aravind', 'rahul', 'sachin', 'lavanya']

In [ ]:
# req : i want to delete 'arun' from the above list

In [30]:
del students[5]

In [31]:
print(students)

['bini', 'bindu', 'chaithanya', 'bibin', 'priya', 'rahul', 'sachin', 'lavanya']