In [ ]:
Organizing the list datatype :

In [1]:
students =['rajesh','naveed','vindhya','asna','laiba','radhika','nikhil']

In [2]:
print(students)

['rajesh', 'naveed', 'vindhya', 'asna', 'laiba', 'radhika', 'nikhil']

In [ ]:
# i want to print 'naveed' name

In [14]:
print(students[1])

naveed

In [15]:
print(students[1].title())

Naveed

In [3]:
cars=['kia','audi','ciaz','benz','suzuki','bmw']

In [4]:
print(cars)

['kia', 'audi', 'ciaz', 'benz', 'suzuki', 'bmw']

In [ ]:
# i want to arrange the above list in alphabetical order ...! A-Z

In [ ]:
# two approaches: 

1. temp approach ------> sorted ------> we can retain the original order

2. permanent approach -----> sort ------> changes are applied permanently

In [5]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'ciaz', 'kia', 'suzuki']

In [6]:
print(cars)

['kia', 'audi', 'ciaz', 'benz', 'suzuki', 'bmw']

In [7]:
cars.sort()

In [8]:
print(cars)

['audi', 'benz', 'bmw', 'ciaz', 'kia', 'suzuki']

In [ ]:
interview questions : what is the diff between sorted and sort method in a list ?

In [ ]:
# req : i want to print the list in the reverse order ?

In [9]:
print(cars)

['audi', 'benz', 'bmw', 'ciaz', 'kia', 'suzuki']

In [10]:
cars.reverse()

In [11]:
print(cars)

['suzuki', 'kia', 'ciaz', 'bmw', 'benz', 'audi']

In [ ]:
# req : i want to count the no of elements present in the list

In [12]:
len(cars)

6

In [ ]:
slicing of the list datatype :

In [13]:
print(students)

['rajesh', 'naveed', 'vindhya', 'asna', 'laiba', 'radhika', 'nikhil']

In [ ]:
# general syntax of slicing :

In [ ]:
print(list(start value : stop value : step count))

In [ ]:
Note : stop value is always exclusive +1 to include the stop value

In [ ]:
# req : i want to include Rajesh and naveed in a list

In [16]:
print(students[0:1])

['rajesh']

In [17]:
print(students[0:2])

['rajesh', 'naveed']

In [18]:
print(students[2:4])

['vindhya', 'asna']

In [19]:
print(students[4:6])

['laiba', 'radhika']

In [20]:
print(students[0:8:2])

['rajesh', 'vindhya', 'laiba', 'nikhil']

In [21]:
print(students[0:8:3])

['rajesh', 'asna', 'nikhil']

In [22]:
print(students[0:8:4])

['rajesh', 'laiba']